<%= form_for(@user, html: {multipart: true}) do |f| %>
 
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username,  placeholder: "What's your name" %>
  </p>
  
  <p>
   <%= f.label :email %><br />
  <%= f.text_field :email,  placeholder: "youremail@example.com" %>
</p>
  <p>
  <%= f.label :password %><br />
  <%= f.text_field :password, placeholder: "Feed me your password"%>
</p>
  <p>
    <%= f.submit %>
  </p>
<% end %>